---
layout: default
---

<div class="row justify-content-center">
    <div class="col-11 col-lg-8 card shadow gx-5 gy-5 m-lg-5">
        <div class="card-body">
            <div class="card-title display-6 mx-2 mt-3 mb-4">Use Cases</div>
            <div class="row g-0">
                {{ content | toc_only }}
            </div>
            <div class="row g-0">
                <div class="col-auto">
                  {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

